@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

:root {
  --dark-color: #5e81ac;
  --white-color: aliceblue;
  --grayes-color: #4c566a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
}
.container {
  margin: 0 auto;
  width: 80%;
}

/* Navbar styles */

.navbar {
  background-color: var(--dark-color);
}
.nav-content {
  display: flex;
  justify-content: space-between;
}
.logo {
  /* border: 1px solid black; */
  margin: 0.5rem 0;
}

.links {
  /* border: 1px solid black; */
  margin: 0.5rem 0;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}
li {
  margin-top: 0.4rem;
}
a {
  text-decoration: none;
  padding-left: 1rem;
  color: var(--white-color);
  outline: none;
}
a:hover {
  color: var(--grayes-color);
}

/* SearchField styles */

.search-field {
  margin: 2rem 0;
  text-align: center;
}
/* .search-form {
  margin: 0 auto;
  width: 75%;
} */
.search-form input {
  width: 100%;
  padding: 0.5rem;
}
.search-form input:focus {
  border: 1px solid var(--dark-color);
  box-shadow: 0 0 1px 1px rgba(60, 148, 139, 0.5);
}
.btn {
  padding: 0.5rem;
  border: 1px solid var(--dark-color);
  background: var(--dark-color);
  cursor: pointer;
  color: var(--white-color);
}
.btn:hover {
  color: var(--grayes-color);
}
.btn-search {
  width: 100%;
  margin: 0.5rem 0;
}
